<%= stylesheet_link_tag "articles" %>
<div class="panel panel-primary">
	<div class="panel-heading">
		<p class="text-center"><strong >{{articlesId.title}}</strong></p>
	</div>

	<center>
		<div class="panel-img">			
				<a href="{{articlesId.image_url}}"><img src="{{articlesId.image_url}}" class="img-responsive"></a>
		</div>
	</center>	

	<div class="panel-body">
		<h4>{{articlesId.content}}</h4>
	</div>	
</div>



